.container-fullpage {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center horizontally */
    padding: 40px; /* Add padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    
  }
  
  .container-fullpage h1 {
    color: white; /* White color for the header */
    text-align: center; /* Center align the header text */
    margin-bottom: 30px; /* Add margin for spacing */
  }

