
.profile-container {
    background-color: #f0f0f0;
    padding: 20px; /* Reduced padding */  /* Change from 40px to 20px */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 700px; 
    height: 400px;/* Set the width of the container */
    max-width: 600px; /* Maximum width for smaller screens */
    margin: 100px auto; /* Center the container horizontally and add space from the top */
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  
  .profile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 20px;
  }
  
  .profile-header h3 {
    margin: 0;
  }
  
  .profile-content {
    margin-bottom: 20px;
    align-items:center;
  }
  .profile-content p {
    margin: 5px 0; /* Adjust margin if needed */
    padding: 10px; /* Add padding */
  }
  
  
  .profile-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profile-table th,
  .profile-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .profile-buttons {
    display: flex;
    justify-content: space-between;
    
  }
  